body {
  text-align: center;
  font-family: Open Sans;
}

ul  {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

.justify {
  text-align: justify;
}

#navbar {
  z-index: 1;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: white;
  font-size: 13px;
  padding: 30px 0;
  width: 100%;
}

#navbar .container {
  max-width: none;
}

#navbar img {
  height: 15px;
}

#navbar li {
  display: inline-block;
}

#navbar li#bordered {
border-left: 2px solid black;
border-right: 2px solid black;
}

#navbar a {
  text-transform: uppercase;
  margin: 0 8px;
}

.jumbotron {
  position: relative;
  margin-top: 72px;
  background-image: url(../img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 680px;
  color: white;
}

.jumbotron .intent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.jumbotron .intent h1 {
  font-size: 60px;
  padding: 10px 0;
  font-weight: 600;
}

.jumbotron .intent p {
  font-size: 20px;
  padding: 5px 0;
}

.jumbotron .intent img {
padding-top: 15px;
}

#vehicles {
  padding: 100px 0;
}

#vehicles h3 {
  font-size: 40px;
  font-weight: 600;
}

#vehicles p {
  font-size: 25px;
  font-weight: 500;
  padding: 20px 0;
}

#vehicles a {
  display: block;
  color: #0070c8;
  font-weight: 500;
  font-size: 20px;
}

#vehicles img {
  height: 400px;
}

.bgoldman {
  background-image: url(../img/HelbizBanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  color: white;
}

#steps img {
  height: 600px;
  margin-top: -300px;
}

#steps .container .justify {
  padding: 90px 0 0 110px;
}

#steps .container .justify h3 {
  font-size: 35px;
  font-weight: 500;
}

#steps .container .justify h5 {
  padding-top: 30px;
  font-size: 20px;
  font-weight: 500;
}
